/* Header */
#header {
    background: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    border-top: 10px solid #2ecc71;
}

#header .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#header .textlogo {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 75px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header .greentextlogo{
    color: #2ecc71;
}

#header h3{
    color: white;
    font-size: 28px;
    font-weight: 400;
}

#header ul{
    padding-left:0;

}
#header ul li{
    display: inline-block;
}

#header ul li a{
    font-size: 25px;
    color: #ebebeb;
    padding: 7px 5px;
    
}

#header i {
    background-color: #363331;
    border-radius: 50%;
    padding: 14px;
}

#header i:hover{
    background-color: #2ecc71;
}

/* Sections */

section {
    padding: 60px 10px;
}

/* Features */
#features .item{
    text-align: center;
}

.item i {
    background-color: #2ecc71;
    color: white;
    font-size: 45px;
    border-radius: 50%;
    padding: 14px;
}

.item h3{
    font-size: 15px;
    font-weight: 400;
    color: #302f2f;
}

.item p{
    color: #9e9a9a;
    font-size: 12px;
}

/* Subscribe Section */

#subscribe  {
    background-color: #d8d7d7;

}

#subscribe h3{
    font-size: 15px;
    font-weight: 400;
    color: #302f2f;
}

#subscribe p{
    color: #9e9a9a;
    font-size: 12px;
}

.subscription {
    margin-top: 20px;
    max-width:80%;
}
/* To Solve Problem with input box being cut short on iphones */
@media only screen and (max-width: 350px) {
    .subscription {
        margin-top: 20px;
        max-width:100%;
    }

    .subscription input {
        border-radius: 10px;
        padding: 1px 1px;
        font-size: 12px;
    }

    .subscription .input-group-btn button {
        color: white;
        background-color: #2ecc71;
        border-radius: 10px;
        padding: 1px 1px;
        font-size: 12px;
    }
  }
.subscription input {
    border-radius: 10px;
    padding: 20px;
    font-size: 14px;
}

.subscription .input-group-btn button {
    color: white;
    background-color: #2ecc71;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
}
#subscribe .video{  
    text-align:center;
    margin: 10px 0px;
    height: 100%;
}

/* Social Section */


#social .testimonial p{
    margin: 0 auto;
    max-width: 70%;
}

#social .testimonial p{
    font-style: italic;
}

#social .testimonial h4{
    font-weight: 500;
    padding-bottom: 6px;
}

#social .container{
    text-align: center;
    padding: 20px 10px;
}

#social p{
    color: #9e9a9a;
    font-size: 12px;
}

#social h3{
    font-size: 15px;
    font-weight: 400;
    color: #302f2f;
}

#social h4{
    font-size: 13px;
    font-weight: 400;
    color: #302f2f;
}
#social .socialinfo{
    padding-top:20px;
}

#social .container ul{
    padding:1px 1px;
}
#social .container ul li{
    display: inline-block;
    padding: 1px ;
}

#social i {
    background-color: #cac8c8;
    border-radius: 50%;
    padding: 8px 8px;
    color: white;
}

#social i:hover{
    background-color: #2ecc71;
}

/* HOVER COLOR NOT IMPLETED 
.containerimage {
    position: absolute;
    width: auto;
}
  
.image {
    display: block;
    width: auto;
    margin: 0px 2px;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin: 0px 2px;
    width: auto;
    transition: .5s ease;
    background-color:#2ecc71;
}
  
.containerimage:hover .overlay {
    opacity: 0.7;
}
*/

.person {
    margin: 0px 2px;
}
.person:hover {
    opacity: 0.7;
}
  
/* Footer-Navigation */
#footer-nav {
    background-color: #d8d7d7;
    padding: 20px 20px;
}

#footer-nav ul{
    text-align: center;
    font-size: 12px;
    padding: 10px;
}


#footer-nav ul li{
    display: inline-block;
    padding: 7px 7px;
}
#footer-nav a{
    color: #9e9a9a;
}